<div class="jumbotron">
	<h1>Left Brain</h1>
</div>
<div class="container feed-container">
	<div class="row">
    	<div class=".col-xs-12 .col-sm-6 .col-md-8 blog-main">
			<% unless @leftbrain == [] %>
				<% @leftbrain.each do |p| %>
					<div class="container post"> 
						<h2><%= p.title.upcase %></h2>
						<p class="date"><%= p.created_at.strftime("Created: %m/%d/%Y at %l:%M %p : %z UTC") %></p>
						<p><%= h(p.body).gsub(/\n/, '<br/>') %></p>
						<%= erb :fileCarousel, :layout => false, :locals => { :p => p } %>
					</div>
				<% end %>
			<% else %>
				<p>There are no Posts yet...</p>
			<% end %>
		</div>
	</div>
</div>