<div class="container">
	<% if @post %>
		<p>Are you sure you want to delete the following post: <br> <em>"<%= @post.body %>"</em>?</p>
		<form action="/leftbrain/<%= @post.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input class="btn btn-danger"type="submit" value="Yes, Delete It!">
			<a href="/leftbrain/<%= @post.id %>">Cancel</a>
		</form>
	<% else %>
		<p>post not found.</p>
	<% end %>
</div>