<div class="container feed-container">
	<h1>Left Brain</h1>
	<% if @post %>
		<% @post.each do |p| %>
			<div class="container post"> 
				<h2><%= p.title.upcase %></h2>
				<p class="date"><%= p.created_at.strftime("Created: %m/%d/%Y at %l:%M %p : %z UTC") %></p>
				<p><%= h(p.body).gsub(/\n/, '<br/>') %></p>
			</div>
		<% end %>
	<% else %>
		<p>There are not Posts yet...</p>
	<% end %>
</div>