<div class="container">
	<h1>Update Post</h1>
	<%= flash[:alert] if flash[:alert] %>
	<% if @leftbrain %>
		<form action="/<%= @leftbrain.id %>" method="POST">
			<!-- fakes put method -->
			<input type="hidden" name="_method" value="put">
			<!-- --- -->
			<div class="form-group">
				<label for="title">Left Brain Title:</label>
				<input class="form-control" type="text" name="title" placeholder="<%= @leftbrain.title %>">
			</div>
			<div class="form-group">
				<label for="body">Left Brain Body:</label>
				<textarea class="form-control" rows="3" name="body" placeholder="<%= @leftbrain.body %>"></textarea>
			</div>
			<input type="submit" name="submit" class="btn btn-primary">
		</form>
	<% else %>
		<p>Left Brain post not found.</p>
	<% end %>
</div>