<div class= "jumbotron">
	<h1><span class="rb">Right Brain<span></h1>
</div>
<div class="container feed-container">
	
	<div class="row">

    	<div class="col-sm-8 blog-main">
			<% unless @rightbrain == [] %>
				<% @rightbrain.each do |p| %>
					<div class="container post"> 
						<h2><span class="rb"><%= p.title.upcase %></span></h2>
						<p class="date"><%= p.created_at.strftime("Created: %m/%d/%Y") %></p>
						<p><%= h(p.body).gsub(/\n/, '<br/>') %></p>
						<%= erb :fileCarousel, :layout => false, :locals => { :p => p } %>
						
					</div>
				<% end %>
			<% else %>
				<p>There are no posts yet...</p>
			<% end %>
		</div>
	</div>
</div>