<div class="container">
	<h1>Update rightbrain</h1>
	<%= flash[:alert] if flash[:alert] %>
	<% if @rightbrain %>
		<form action="/<%= @rightbrain.id %>" method="post">
			<!-- fakes put method -->
			<input type="hidden" name="_method" value="put">
			<!-- --- -->
			<div class="form-group">
				<label for="title">Right Brain Title:</label>
				<input class="form-control" type="text" name="title" placeholder="<%= @rightbrain.title %>">
			</div>
			<div class="form-group">
				<label for="body">Right Brain Body:</label>
				<textarea class="form-control" rows="3" name="body" placeholder="<%= @rightbrain.body %>"></textarea>
			</div>
			<input type="submit" name="submit" class="btn btn-primary">
		</form>
	<% else %>
		<p>Right Brain post not found.</p>
	<% end %>
</div>